<h1>Conclusion</h1>

<h2>Conclusion global</h2>

<p>Le sujet des PWA n'est pas encore très vaste de part la jeunesse de la technologie, cependant, la technologie est toujours de plus en plus poussé par Angular au fil des mise à jours</p>
<p>Encore dans la version 8 d'Angular, des modifications ainsi que des ajouts sont prévus pour simplifier certains traitements avec le service worker</p>
<p>Le sujet reste intéressant bien que difficile a mettre en place en terme de mise en place en environnement de développement</p>


<h2>Conclusion personnelle</h2>

<p>En effet, afin de pouvoir proposer la solution d'une manière la plus simple possible tout en pouvant enregistrer le service worker sur tout les supports possibles, la recherche ne fut pas simple</p>
<p>Sa mise en place ne fut pas non plus simple. Pendant de nombreux jours, le service worker refusait de s'enregistrer signalant qu'il ne pointait pas sur la base du projet</p>
<p>Après de nombreuses recherches et de changements au projet de base fonctionnant avec ma solution, le service worker s'enregistre (théoriquement) enfin comme il doit le faire</p>
<p>Ce projet fut énormément enrichissant mais un peu décevant.</p>
<p>Je pensais qu'en prenant ce sujet, de nombreux tutoriels seraient disponibles et que le sujet s'étendait sur beaucoup plus d'aspects ( le sujet parraissait plus conséquent lors de ma recherche de sujet )</p>
